.card{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 padding: 10px 20px;
 border: 1px solid lightgray;
 border-radius: 2px;
 margin-bottom: 10px;
 gap: 20px;
}

.card__details{
 display: flex;
 align-items: center;
 gap: 20px;

}